* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.posts-container {
    max-width: 500px;
    margin: 100px auto 15px;
}

.posts-container h2 {
    font-family: Helvetica, sans-serif;
    color: hsl(165 50% 50%);
    font-weight: 800;
    text-transform: uppercase;
}

.posts-inner-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-height: 40px;
    max-height: 300px;
    overflow: auto;
}

.post {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

.post-content {
    
}

.post-date {
    
}

.input-container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
}

.input-container input {
    border: 1px solid black;
    flex-grow: 1;
}

button {
    padding: 6px 10px;
    margin-left: 16px;
    border: 1px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color:hsl(165 50% 50%);
    transition-duration: 200ms;
}

button:hover {
    border: 1px solid hsl(165 50% 50%);
    color: hsl(165 50% 50%);
    background-color: white;
    transition-duration: 200ms;
}